body {
  margin: 0;
  display: flex;
  font-family: Arial;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1e293b;
  min-height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  color: white;
}

.sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

/* MENU */
.menu {
  display: none;
}

.menu.active {
  display: block;
}

/* INPUT */
input[type="text"] {
  padding: 10px;
  margin-right: 5px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
}

table th {
  background: #2563eb;
  color: white;
}